.background-noise {
  background: linear-gradient(hsla(0, 0%, 98%, 0.1) 0px, transparent 0),
  linear-gradient(270deg, hsla(0,0%,98%,0.1) 0px, transparent 0), url("./../public/noisy-texture.png"), #000000;
  background-size: 100px 100px;
  background-position: center, center;
}

.background-noise-analog-element {
  background: linear-gradient(hsla(0, 0%, 98%, 1) 20px, transparent 0),
  linear-gradient(270deg, hsl(0, 0%, 75%) 10px, transparent 0), url("./../public/noisy-texture-a1.png"), #7e7e7e;
  background-size: 30px 70px;
}
