version: '2.4'

services:
  envoy:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "9901:9901"   # Admin API
      - "10000:10000" # Listener
    volumes:
      - ./envoy.yaml:/etc/envoy/envoy.yaml
    restart: unless-stopped